<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <% stories.forEach(function(story){ %>
      <div class="card">
        <h4><%= story.Combined_Key %></h4>
        <ul>
          <li>Confirmed Cases : <%= story.Confirmed %></li>
          <li>Active Cases : <%= story.Active %></li>
          <li>Recoveries : <%= story.Recovered %></li>
          <li>No. of Deaths : <%= story.Deaths %></li>
        </ul>
      </div>
      <% }); %>
    </div>
  </body>
</html>
